*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    overflow-y: hidden;
}

header {
    background-color: #343F4B;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0 auto;
}

header h2{
    background-color: #06E403;
    color: white;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    margin: 25px 50px;
}

.divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    height: 34px;
    margin-top: 35px;
  }
  
.txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

  .divBusca i {
    margin-top: 7px;
  }

nav {
    padding-top: 35px;
    text-align: right;
    padding-left: 300px;
}

  nav a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
    font-weight: bold;
}

a:nth-of-type(5) {
    background: #06E403;
    border-radius: 5px;
    width: 100px;
    padding: 0 5px 0 5px;
}

main{
    height: 600px;
    width: 100%;
    background-image: url("../hp img/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 200px;
    padding-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Cards*/

/* .content-card {
    background: linear-gradient( #6ab7f5 , #fff);
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
    */

 .partida {
    border: 5px solid #0c1616;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    height: 300px;
    width: 500px;
    gap: 90px;
    margin: 20px;
    background-color: #343F4B;
}

 .partida div {
    display: flex;
    justify-content: space-between;
}

 .partida div .data {
    color: #fff;
    border: 1px solid #8b949e;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}

 .partida div .local {
    color: #47a6f0;
}

 .partida button {
    width: 170px;
    margin: 0 auto;
    height: 40px;
    border-radius: 6px;
    background-color: #06E403;
    color: white;
    cursor: pointer;
    border: 2px solid #074406;
}

.integrantes {
    color: white;
}

/*Fim cards*/
