*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
}

body{
    background-image: url("../cdp img/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}

header h1{
    color: #13CF4C; 
}

main{
    display: flex;
}

form{
    margin-left: 50px;
}

label , input {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 280px;
    margin-bottom: 10px;
}

input {
    background: #fff;
    border: none;
    outline: none;
    height: 45px;
    width: 320px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #969696;
}

select{
  background: #fff;
    border: none;
    outline: none;
    height: 45px;
    width: 320px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #969696;
    margin-bottom: 15px;
}

label {
    color: white;
}

.botão {
    align-items: center;
    text-align: center;
}

.input-field {
  position: relative;
  text-align: center;
}


button {
    background-color: #00C050;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 20px;
    font-size: 18px;
}


.cancelar {
  background-color: #777;
  width: 100px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  transition: .3s;
  border-radius: 7px;
}

.cancelar a{
  color: white;
  text-decoration: none;

}

input[type="text"] {
    text-align: center;
  }

  #image {
    display: none;
  }

  .picture {
    width: 400px;
    height: 229px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    cursor: pointer;
    color: #aaa;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
  }

  .picture:hover {
    color: #777;
    background: #ccc;
  }

  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }

  img {
    width: 400px;
    height: 229px;
  }

.Lista {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  }
  
  .Lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Lista li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .Lista li:last-child {
    border-bottom: none;
  }

.Lista {
    width: 400px;
    background-color: white;
}

.Lista h2{
    text-align: center;
}

.save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }

  .Description {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 300px;
    height: 400px;
    margin-left: 70px;
  }
  
  .Description h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  .Description textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 320px;
    resize: none;
  }
  
  .Description input[type="file"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 768px) {
    header {
      text-align: center;
      margin-bottom: 50px;
      margin-top: 50px;
      justify-content: center; 
    }
    
    main {
      display: flex;
      flex-direction: column; 
    }
    
    .inputs-container {
      display: flex;
      flex-direction: column; 
    }
    
    .Lista {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      width: 400px;
      background-color: white;
      column-count: 1; 
    }
    
    .Description textarea {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      height: 150px;
      flex-grow: 1;
      resize: none;
    }

    .Description h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 16px;
      color: white;
    }

    button {
      width: 200px;
      padding:10px 0;
      margin: 0;
    }
  }